.line-clamp-1{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-line-clamp: 1;
}

.star{
    color: #F97316;
    font-size: 16px;
}
.stay-places-slider button{
    display: none;
}

.stay-places-slider:hover button{
    display: inline;
}