

.card-section{
  margin-right: 10px;
}

.w-224{
  width: 224px;
}
.h-314{
  height: 314px;
}

.h-168{
  height: 168px;
}

.w-309{
  width: 309px;
}

.h-331{
  height: 331px;
}

.hover-element:hover{
  opacity: 0.1 !important;
}

@media (max-width: 996px){
  .md-w-232{
    width: 232px;
  }
  .md-h-325{
    height: 325px;
  }

  .md-h-278{
    height: 278px;
  }
}

@media (max-width: 576px){
  .sm-w-274{
    width: 274px;
  } 
  .sm-h-219{
    height: 219px;
  }
  
  .sm-h-205{
    height: 205px;
  }
}

.swiper-container {
  width: 480px !important;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px !important;
  }
}

@media screen and (min-width: 1024px) {
.swiper-container{
  width: 1024px !important;
}
}