.slick-prev:before, .slick-next:before {
    color: #09529b !important;
  }

.card-section{
  margin-right: 10px;
}

.w-224{
  width: 224px;
}
.h-314{
  height: 314px;
}

.w-224{
  width: 224px;
}

.h-168{
  height: 168px;
}

@media (max-width: 996px){
  .md-w-232{
    width: 232px;
  }
  .md-h-325{
    height: 325px;
  }
}

@media (max-width: 576px){
  .sm-w-274{
    width: 274px;
  } 
  .sm-h-219{
    height: 219px;
  }
  
  .sm-h-205{
    height: 205px;
  }
}